<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TugasAkhir"
        tools:targetApi="31">
        <activity
            android:name=".Account.Penjual.DaftarProductActivity"
            android:exported="false" />
        <activity
            android:name=".Katalog.ProductPenjual.ProductBaruActivity"
            android:exported="false" />
        <activity
            android:name=".Account.Penjual.DaftarPenjualActivity"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                    https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <!-- <service -->
        <!-- android:name=".MyFirebaseInstanceIDService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />

        <activity
            android:name=".Account.AkunPembeli.AkunPembeliActivity"
            android:exported="false" />
        <activity
            android:name=".Account.Register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Account.Login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Cart.Penjual.PenawaranPenjualActivity"
            android:exported="false" />
        <activity
            android:name=".Cart.Penjual.KeranjangPenjualActivity"
            android:exported="false" />
        <activity
            android:name=".Ulasan.UlasanActivity"
            android:exported="false" />
        <activity
            android:name=".Cart.KeranjangPesananActivity"
            android:exported="false" />
        <activity
            android:name=".Katalog.Product.InfoPesanProdukActivity"
            android:exported="false" />
        <activity
            android:name=".Chat.pesan.PesanActivity"
            android:exported="false" />
        <activity
            android:name=".Katalog.Product.UbahProdukActivity"
            android:exported="false" />
        <activity
            android:name=".Katalog.Product.InfoProductActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>